
header {
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
    top: 15px;
  }

footer {
  height: 60px;
  background-color: #000000;
  position: relative;
}
 
.logo p {
    left: 20px;
    font-family: 'Montserrat';
    position: relative;
    font-weight: 900;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    stroke: black;
    stroke-width: 10px;
  }
  
.menu-kiri ul,
.menu-kanan ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.menu-kiri ul li,
.menu-kanan ul li {
    display: inline-block;
    margin-right: 30px;
    font-family: 'Montserrat';
  }
  
.menu-kiri ul li:last-child,
.menu-kanan ul li:last-child {
    margin-right: 30px;
    font-family: 'Montserrat';
  }
  
.menu-kiri {
    left: 216px;
    position: absolute;
  }
.menu-kanan {
    margin-left: 0;
    left: 1920px;
  }
  
.content {
    background-color: #94E0E5;
    height: 1000px;
    font-family: 'Montserrat';
  }
.content h1 {
    width: 556px;
    height: 151px;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    left: 116px;
    position: relative;
    top: 120px;
}
.content p {
    position: relative;
    left: 116px;
    width: 446px;
    height: 32px;
    top: 115px;
    font-weight: 100;
    font-size: 18px;
    line-height: 24px;
    color: rgb(4, 4, 86);
}

.content img {
    position: absolute;
    width: 677px;
    height: 607px;
    left: 753px;
    top: 100px;
}
.tombol
{
    position: absolute;
    left: 170px;
    top: 430px;
    transform: translateX(-50%);
    background-color: #2B99A0;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat';
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}
  
.tombol:hover {
    background-color: rgb(114, 134, 146);
}


/* CSS */
.Promosi {
  align-items: center;
  background-image: linear-gradient(144deg,#94E0E5, #100CF3 50%,#8099F4);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.Promosi:active,
.Promosi:hover {
  outline: 0;
}

.Promosi span {
  background-color: #100CF3;
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.Promosi:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

.footer-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  left: 50%;
  top: 35%;
}

.footer-container a {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.footer-container a svg {
  width: 100%;
  height: 100%;
  fill: #ffffff;
}
